/* Page liste des employés */

.container_liste_employes {
    width: 95%;
    margin: 40px auto;
}

/* Page modifier un employé */

.container_modifier_employe {
    width: 95%;
    margin: 40px auto;
}

/* Page ajouter un employé */

.container_ajout_employe {
    width: 95%;
    margin: 40px auto;
}